# IDE files
.vscode

# Python environments
venv
venv/

# Random OS files
.DS_store
Thumbs.db

# MkDocs build directory
site/
build/

# Ignore Python cache
__pycache__

# some temp files
SavedFiles

# Ignore Python packages in editable mode
*.egg-info
