/* Reduce footer navigation title font size & margins */
.md-footer__title {
  font-size: 16px;
  margin-top: 1px;
  margin-bottom: 1px;
}

/* Reduce footer navigation button margins & padding */
.md-footer__button {
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
}

/* Reduce footer navigation link margins */
.md-footer__link {
  margin-top: 1px;
  margin-bottom: 1px;
}

/* Horizontal line separator for News articles */
.md-post--excerpt {
  border-top: 1px solid var(--md-default-fg-color);
}

/* Continue reading highlight */
.md-post__action a {
  color: var(--md-accent-fg-color--dark);
}
